body {
    display: flex;
    .left-box {
        width: 20%;
        background: #343a40;
        .side-nav {
            .logo {
                width: 100%;
                background: #357ca5;
                img {
                    width: 120px;
                }
            }
            .search {
                margin: 10px 0 20px 0;
                .search-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #3f474e;
                    padding: 8px 10px;
                    border-radius: 4px;
                    border: 1px solid #1e282c;
                    &:focus {
                        border: 1px solid #fff;
                    }
                    input {
                        background: transparent;
                        width: 100%;
                        border: 0;
                        outline: 0;
                        color: #fff;
                    }
                    .fa-magnifying-glass {
                        color: #fff;
                    }
                }
            }
            .nav-title-box {
                border: 1px solid #357ca5;
                padding: 10px;
                .nav-title {
                    // display: block;
                    // width: 100%;
                }
            }
            .nav-links {
                ul {
                    li {
                        padding: 8px 20px;
                        transition: all 0.4s ease-in;
                        &:hover {
                            background: #494e53;
                        }
                        a {
                            color: #fff;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
    .right-box {
        width: 80%;
        background: #ecf0f5;
    }
}
