// navbar styles start here
.navbar {
    width: 100%;
    padding: 10px 0;
    background: #34495e;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand {
            img {
                height: 40px;
                width: 110px;
            }
        }
        .toggle {
            display: none;
        }
        .nav-links {
            ul {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 0;
                li {
                    a {
                        font-size: 18px;
                        font-family: "DynaPuff", cursive;
                        color: #fff;
                        text-transform: capitalize;
                        font-weight: 350;
                        transition: all 0.2s ease-in;
                        &:hover {
                            color: rgb(209, 195, 195);
                        }
                        &:active {
                            color: rgb(219, 58, 58);
                        }
                        &.active {
                            color: rgb(209, 195, 195);
                        }
                    }
                }
            }
        }
    }
    &.active-nav {
        padding: 8px 0;
        background: rgb(24, 78, 104);
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        background: #000;
        padding: 10px 4px;
        position: fixed;
        z-index: 150;
        .container {
            .brand {
                img {
                    width: 76px;
                    height: 31px;
                }
            }
            .toggle {
                display: block;
                .toggle-icon {
                    cursor: pointer;
                    color: #fff;
                    font-size: 22px;
                }
                .toggle-cross {
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    cursor: pointer;
                    display: none;
                    &.show-toggle-cross {
                        display: block;
                    }
                }
            }
            .nav-links {
                position: fixed;
                top: 4%;
                background: rgb(42, 42, 42);
                width: 100%;
                top: -100vh;
                left: 0;
                z-index: 100;
                height: 100vh;
                transition: top 0.8s ease-in-out;
                ul {
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    gap: 35px;
                    li {
                        a {
                            font-size: 1.8rem;
                            &:hover {
                                color: #fff;
                                font-size: 2.5rem;
                                transition: 0.5s ease-in-out;
                            }
                        }
                    }
                }
                &.mobile-menu {
                    display: block;
                    top: 0;
                }
            }
        }
    }
}
// Medium devices (tablets, 768px and up)

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
        background: rgb(62, 10, 158);
        padding: 10px 4px;
        position: fixed;
        z-index: 150;
        .container {
            .brand {
                img {
                    width: 76px;
                    height: 31px;
                }
            }
            .toggle {
                display: block;
                .toggle-icon {
                    cursor: pointer;
                    color: #fff;
                    font-size: 22px;
                }
                .toggle-cross {
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    cursor: pointer;
                    display: none;
                    &.show-toggle-cross {
                        display: block;
                    }
                }
            }
            .nav-links {
                position: fixed;
                top: 4%;
                background: rgb(42, 42, 42);
                width: 100%;
                top: -100vh;
                left: 0;
                z-index: 100;
                height: 100vh;
                transition: top 0.8s ease-in-out;
                ul {
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    gap: 35px;
                    li {
                        a {
                            font-size: 1.8rem;
                            &:hover {
                                color: #fff;
                                font-size: 2.5rem;
                                transition: 0.5s ease-in-out;
                            }
                        }
                    }
                }
                &.mobile-menu {
                    display: block;
                    top: 0;
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        background: crimson;
        padding: 10px 4px;
        .container {
            .brand {
                img {
                    width: 76px;
                    height: 31px;
                }
            }
            .toggle {
                display: block;
                .toggle-icon {
                    cursor: pointer;
                    color: #fff;
                    font-size: 22px;
                }
                .toggle-cross {
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    cursor: pointer;
                    display: none;
                    &.show-toggle-cross {
                        display: block;
                    }
                }
            }
            .nav-links {
                position: fixed;
                background: rgb(42, 42, 42);
                width: 100%;
                top: 7%;
                left: 0;
                z-index: 999;
                height: 100vh;
                display: none;
                transition: 0.5s ease-in-out;
                ul {
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    gap: 35px;
                    li {
                        a {
                            font-size: 22px;
                            &:hover {
                                color: #fff;
                                font-size: 30px;
                                transition: 0.5s ease-in-out;
                            }
                        }
                    }
                }
                &.mobile-menu {
                    display: block;
                }
            }
        }
    }
}

// navbar styles end here

// ************************
// home page start here
// ************************

// banner section styles start here

.banner {
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    .glass {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .my-intro {
            p {
                font-family: "Ms Madi", cursive;
                font-size: 40px;
                color: rgba(129, 129, 129, 0.9);
                font-weight: 600;
            }

            h1 {
                font-size: 75px;
                font-family: "Zen Kaku Gothic Antique", sans-serif;
                font-weight: 800;
                color: #59e4ab;
                // font-style: italic;
            }

            .typed {
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 800;
                span {
                    color: #59e4ab;
                }
            }

            .intro-btn {
                display: flex;
                gap: 8px;
                .glass-btn {
                    padding: 8px 15px;
                    text-transform: capitalize;
                    cursor: pointer;
                    font-size: 16px;
                    color: rgba(129, 129, 129, 0.9);
                    transition: all 0.3s ease-in;
                    font-weight: 600;
                    outline: none;
                    border: 0;
                    border: 1px solid rgba(129, 129, 129, 0.9);
                    border-radius: 4px;
                    background: 0;
                    &:hover {
                        background: #59e4ab;
                        color: #fff;
                        border-color: #59e4ab;
                    }
                }
            }
        }
        .graphics {
            display: grid;
            align-items: center;
            justify-content: center;
            position: relative;
            .first {
                width: 273px;
                height: 273px;
                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
                .last {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                    outline: 3px solid #fff;
                    img {
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        // position: relative;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .banner {
        .glass {
            grid-template-columns: 1fr;
            gap: 90px;
            .my-intro {
                p {
                    font-size: 26px;
                }
                h1 {
                    font-size: 50px;
                }
                .typed {
                    font-size: 14px;
                }
                .intro-btn {
                    .glass-btn {
                        padding: 7px 8px;
                        font-size: 14px;
                    }
                }
            }
            .graphics {
                .first {
                    width: 223px;
                    height: 223px;
                    .last {
                        height: 200px;
                        width: 200px;
                        img {
                            height: 200px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .banner {
        .glass {
            grid-template-columns: 1fr;
            gap: 80px;
            .my-intro {
                p {
                    font-size: 30px;
                }
                h1 {
                    font-size: 55px;
                }
                .typed {
                    font-size: 15px;
                }
                .intro-btn {
                    .glass-btn {
                        padding: 7px 8px;
                        font-size: 14px;
                    }
                }
            }
            .graphics {
                .first {
                    width: 223px;
                    height: 223px;
                    .last {
                        height: 200px;
                        width: 200px;
                        img {
                            height: 200px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner {
        .glass {
            .my-intro {
                .typed {
                    font-size: 16px;
                }
            }
        }
    }
}
// banner section styles end here

// about section styles start here

#about {
    padding: 60px 0 80px 0;
    .body {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr;
        img {
            border-radius: 4px;
        }
        .about-text {
            display: grid;
            gap: 20px;
            p {
                font-size: 18px;
                font-weight: 400;
                color: rgb(119, 118, 118);
                letter-spacing: 1px;
                text-align: justify;
            }
        }
    }
    .about-buttom {
        display: flex;
        justify-content: space-between;
        .about-buttons {
            display: flex;
            gap: 8px;
            .about-btn {
                border-color: #59e4ab;
                color: #59e4ab;
                &:hover {
                    background: #59e4ab;
                    border-color: #59e4ab;
                    color: #fff;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    #about {
        padding-top: 40px;
        .body {
            grid-template-columns: 1fr;
            img {
                margin: auto;
            }
            .about-text {
                p {
                    font-size: 16px;
                }
            }
        }
        .about-buttom {
            gap: 0;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    #about {
        .body {
            grid-template-columns: 1fr;
        }
    }
}

// about section styles end here

// experience section styles start here

#experience {
    padding: 60px 0 80px 0;
    background: #f6f7fb;
    .body {
        padding-bottom: 100px;
        .experiences {
            .item {
                height: 280px;
                background: #34495e;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                .content {
                    display: grid;
                    gap: 10px;
                    i {
                        text-align: center;
                        color: #fff;
                        font-size: 60px;
                    }
                    p {
                        font-size: 18px;
                        font-family: "DynaPuff", cursive;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
            .owl-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
                margin-top: -187px;
                button {
                    font-size: 60px;
                    color: rgba(129, 129, 129, 0.9);
                    z-index: 2;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    #experience {
        .body {
            .experiences {
                .item {
                    margin: auto;
                    i {
                        font-size: 50px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
                .owl-nav {
                    padding: 0 85px;
                }
            }
        }

        .owl-nav {
            padding: 0 55px;
        }
    }
}

// experience section styles end here

// services section styles start here

#services {
    padding: 60px 0 80px 0;
    .body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        .my-service {
            padding: 30px 25px 66px 25px;
            text-align: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 5px;
            transition: 0.8s;
            transition-delay: 0.1s;
            .service-top {
                display: grid;
                gap: 5px;
                padding-bottom: 10px;
                i {
                    font-size: 35px;
                    color: #4c585ef1;
                }
                h2 {
                    font-family: "Zen Kaku Gothic Antique", sans-serif;
                    font-weight: 900;
                    font-size: 25px;
                    color: #59e4ab;
                }
            }
            p {
                font-size: 16px;
                color: rgba(129, 129, 129, 0.9);
            }
            &:hover {
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 575px) {
    #services {
        .body {
            grid-template-columns: 1fr;
            .my-service {
                margin: auto;
                .service-top {
                    i {
                        font-size: 25px;
                    }
                    h2 {
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    #services {
        .body {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #services {
        .body {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
// services section styles end here

// portfolio section styles start here

#portfolio {
    padding: 60px 0 80px 0;
    padding-bottom: 60px;
    background: #fff;
    transition: all 0.3s ease-in;
    .body {
        .protfolio-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            button {
                height: 36px;
                width: 55px;
                border-radius: 4px;
                border: 1px solid #2ce095;
                color: #2ce095;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.4s ease-in;
                &.mixitup-control-active {
                    background: #2ce095;
                    color: #fff;
                }
                &:hover {
                    background: #2ce095;
                    color: #fff;
                }
            }
        }
        .filter {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding-top: 60px;
            .box {
                width: 500px;
                border-radius: 4px;
                margin: auto;
                padding-bottom: 40px;
                &:nth-child(3) {
                    padding-bottom: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    #portfolio {
        .body {
            .protfolio-filter {
                button {
                    height: 28px;
                    width: 50px;
                    font-size: 13px;
                }
            }
            .filter {
                grid-template-columns: 1fr;
                .box {
                    width: 320px;
                    margin: auto;
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    #portfolio {
        .body {
            .filter {
                grid-template-columns: 1fr;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #portfolio {
        .body {
            .filter {
                grid-template-columns: 1fr 1fr;
                .box {
                    width: 350px;
                }
            }
        }
    }
}

// portfolio section styles start here

// clint section styles start here

#clint {
    padding: 60px 0 80px 0;
    background: #f6f7fb;
    .body {
        width: 100%;
        height: 450px;
        .details {
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .item-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                    h2 {
                        padding-top: 5px;
                        font-size: 25px;
                        font-weight: 400;
                        color: #168858;
                        font-family: "DynaPuff", cursive;
                    }
                    p {
                        font-size: 18px;
                        color: #ae6129e6;
                        font-weight: 600;
                    }
                }
                p {
                    text-align: center;
                    padding: 0 80px;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: #515151;
                }
            }
        }
    }

    .body {
        .carousel-inner {
            .carousel-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    #clint {
        padding-bottom: 25px;
        .body {
            .details {
                .item {
                    .item-info {
                        img {
                            width: 110px;
                            height: 110px;
                        }
                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

// clint section styles end here

// blog section start here

#my-blogs {
    .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        .items {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 8px;
            transition: all 0.4s ease-in;
            border: 1px solid #ecedef;
            background: #fff;
            .img-box {
                overflow: hidden;
                border-radius: 8px 8px 0 0;
                .blog-image {
                    transition: 2s ease-in;
                    display: block;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
            .blog-texts {
                padding: 20px 15px;
                h2 {
                    color: #969696;
                }
                span {
                    font-size: 0.8rem;
                    padding: 0.5rem 0 0.7rem;
                    display: block;
                }
                button {
                    color: #999999;
                    border: 1px solid #c1c1c1;
                    padding: 0.4rem 0.7rem;
                    border-radius: 4px;
                    font-size: 0.7rem;
                    background: transparent;
                    font-weight: 600;
                    letter-spacing: 1px;
                    &:hover {
                        background: #16a085;
                        border-color: #1abc9c;
                        color: #ffffff !important;
                        transition: 0.5s ease-in-out;
                    }
                }
            }
            &:hover {
                box-shadow: 2.736px 7.518px 20px 0 rgba(0, 0, 0, 0.14);
                transform: translate(0px, -5px);
            }
        }
    }

    .explore-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0 5px 0;
        button {
            padding: 5px 10px;
            background: transparent;
            border: 0;
            outline: 0;
            border-radius: 4px;
            border: 1px solid #2ce095;
            color: #2ce095;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.4s ease-in;
            &:hover {
                color: #fff;
                background: #2ce095;
            }
        }
    }
}

// blog section end here

// contact section styles start here

#contact {
    padding: 60px 0 80px 0;
    .body {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        .social-box {
            padding: 10px;
            .social {
                display: grid;
                gap: 10px;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #c1c1c1;
                        height: 58px;
                        width: 58px;
                        border-radius: 3px;
                        transition: all 0.4s ease-in;
                        i {
                            font-size: 30px;
                            color: #c1c1c1;
                            transition: all 0.4s ease-in;
                        }
                    }
                    .url {
                        color: #2ce095;
                    }
                }
                .item:hover {
                    .icon {
                        border-color: #2ce095;
                        background: #2ce095;
                        i {
                            font-size: 40px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .form-box {
            padding: 10px;
            .input-items {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .item {
                    padding: 8px 13px;
                    border: 0;
                    outline: none;
                    border: 1.5px solid rgba(129, 129, 129, 0.712);
                    border-radius: 3px;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    &:focus {
                        border-color: #2ce095;
                        color: rgba(129, 129, 129, 0.712);
                        color: rgb(89, 89, 89);
                    }
                }
            }
            textarea {
                margin-top: 10px;
                width: 100%;
                padding: 8px 13px;
                border: 0;
                outline: none;
                border: 1.5px solid rgba(129, 129, 129, 0.712);
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                &:focus {
                    border-color: #2ce095;
                    color: rgb(89, 89, 89);
                }
            }
            button {
                margin-top: 20px;
                padding: 8px 6px;
                background: transparent;
                border: 0;
                outline: none;
                border: 1px solid #2ce095;
                border-radius: 3px;
                color: #2ce095;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 0.4s ease-in;
                &:hover {
                    background: #2ce095;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #contact {
        .body {
            grid-template-columns: 1fr;
            .social-box {
                .social {
                    grid-template-columns: 1fr 1fr 1fr;
                    .item {
                        .icon {
                            height: 30px;
                            width: 30px;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                        .url {
                            font-size: 18px;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                    .item:hover {
                        .icon {
                            a {
                                i {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .form-box {
                .input-items {
                    .item {
                        font-size: 11px;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                textarea {
                    font-size: 11px;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    #contact {
        .body {
            grid-template-columns: 1fr;
            .social-box {
                .social {
                    grid-template-columns: 1fr 1fr 1fr;
                    .item {
                        .icon {
                            height: 30px;
                            width: 30px;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                        .url {
                            font-size: 18px;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                    .item:hover {
                        .icon {
                            a {
                                i {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .form-box {
                .input-items {
                    .item {
                        font-size: 11px;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                textarea {
                    font-size: 11px;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
}

// contact section styles start here

// footer section start here

.footer {
    background: #34495e;
    padding: 15px 0;
    p {
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin-bottom: 0;
        a {
            font-size: 18px;
            font-weight: 600;
            color: #fb6363;
        }
    }
}
@media (max-width: 576px) {
    .footer {
        p {
            font-size: 13px;
            a {
                font-size: 12px;
            }
        }
    }
}

// footer section end here

// ************************
// home page end here++++++++++++++++++++++++++++++++++++++++++++++
// ************************
